body#contato{
     background-color: var(--cor-back); 
     color: #6e6e6e;

}
main{
    border-radius: 10px;
    margin: auto;
    background-color: rgb(248, 247, 247);
    margin-bottom: 5%;
}
main h1{
    margin-top: 5%;
    font-family: var(--font-titulo);
    font-size: 4rem;
    padding: 2%;
    text-align: center;
    color: #fb6f92;
}
main a{
    text-decoration: none;
    margin-top: 5%;
    color: #fb6f92;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main a.return{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
section.contato{
    display: grid;
    grid-template: 
    'titulo'
    'img'
    'contato';
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
section.contato a{
    width:100%;
}
main section a:hover{
    background-color: var(--cor-back);
    padding: 2%;
    border-radius: 5px;
}

.icon {
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon img{
    height: 100px;

}