@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
:root{
    --cor-laranja: #f26419;
    --cor-back: #F6CFD3;
    --cor-rosa:#ffe1eb;
    --cor-bordo:#56091F;

    --font-body:'Josefin Sans', sans-serif;
    --font-titulo:'Amatic SC', cursive;
    --font-subtitulo: 'Roboto', sans-serif;
    --font-cardapio: 'Raleway', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

body{
    margin: 5%;
    background-color:#F6CFD3;
    font-family: var(--font-body);

}
h1{
    font-family: var(--font-titulo);
    color: #fb6f92;
    display: flex;
    text-align: center;
    margin: 4%;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}
section{
    display: grid;
    grid-template:
    'art1 art2'
    'art3 art4'
    'art5 .'  ;
    padding: 3%;
}

#artigo1{
    grid-area: art1;
}
#artigo2{
    grid-area: art2;
}
#artigo3{
    grid-area: art3;
}
#artigo4{
    grid-area: art4;
}
#artigo5{
    grid-area: art5;
}
section .artigo p{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3%;
    color: #949393;

}
.artigo{
    border: solid 1px #fb6f92;
    margin: 2%;
    padding: 5%;
    background-color:#fff;
    border-radius: 5px;
}
.artigo p img{
    width: 100%;
    align-items: center;
    justify-content: center;
}
div a.botao{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.botao{
    
    text-decoration: none;
    color: aliceblue;
    background-color: #fb6f92;
    border-radius: 5px;
    padding: 3%;
}
ul li {
    color: #fb6f92;
    padding: 5%;
}
footer{

    margin-left: 5%;
    display: flex;
    float: left;
}
footer a{
    font-family: var(--font-t
    );
    text-decoration: none;
    color: #dbdbdb;
    text-transform: uppercase;
    background-color: #fd5982;
    padding:7%;
 
    border-radius: 5px;
    font-size: 1rem;
}