body{
    margin: 0 5%;
    border: solid 1px;

}
h1{
    border: solid 1px;
    text-align: center;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;

}
section .artigo p{
    text-align: center;
    word-wrap: break-word;

}
.artigo{
    border: solid 1px;
    margin: 2%;
 
  
}
